Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
*.tar.gz
ricochet
rrserve
client-svg.5c
ricochet.man
rrserve.man
ricochet_*
ricochet-*
ricochet.desktop
ricochet.spec
